<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/ico/favicon.png">
    <title>Harstorage reports</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="/static/css/starter-template.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Harstorage Reports</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% for item in items %}
            <li><a href="{{item.url}}">{{item.title}}</a></li>
            {% endfor %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
      <div class="starter-template">
        <div id="control_div" class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary" id="btntime">
            <input type="radio" name="options"> Load TIme
          </label>
          <label class="btn btn-primary" id="btnreqs">
            <input type="radio" name="options"> Requests
          </label>
          <label class="btn btn-primary" id="btnsize">
            <input type="radio" name="options"> Total Size
          </label>
        </div>
        <div id="chart_div" style="height: 600px;"></div>
      </div>
    </div><!-- /.container -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      var chart;
      function setcolumn(n) {
        chart.setView({'columns':[0,n]});
        chart.setOption('title', chart.getDataTable().getColumnLabel(n));
        chart.draw();
      }
      google.load("visualization", "1", {packages:["corechart", "controls"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        $('#btnsize').on('click', function (e) { setcolumn(1) });
        $('#btnreqs').on('click', function (e) { setcolumn(2) });
        $('#btntime').on('click', function (e) { setcolumn(3) });
        var jsonData = $.ajax({
          url: "{{d.url}}",
          dataType:"json",
          //async: false
        }).done(function(jsonData) {//.responseText;
          var data = new google.visualization.DataTable(jsonData);
          chart = new google.visualization.ChartWrapper({
             'chartType': 'ColumnChart',
             'containerId': 'chart_div',
             'options': {legend: {position:'none'}},
             'view': {'columns': [0, 3]},
          });
          chart.setDataTable(jsonData);
          chart.setOption('title', chart.getDataTable().getColumnLabel(3));
          chart.draw();
          //var dashboard = new google.visualization.Dashboard(document.getElementById('dashboard_div'));
          /*var control = new google.visualization.ControlWrapper({
            'controlType': 'CategoryFilter',
            'containerId': 'filter_div',
            'options': {
                'filterColumnLabel': 'Label',
            },
          });*/
          //dashboard.bind(control, chart);
          //dashboard.draw(data);
        });
      }
    </script>
  </body>
</html>
